EXTS/Service References/exts0001/exts0001.wsdl

<?xml version="1.0" encoding="utf-8"?>
<wsdl:definitions xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:tm="http://microsoft.com/wsdl/mime/textMatching/" xmlns:soapenc="http://schemas.xmlsoap.org/soap/encoding/" xmlns:mime="http://schemas.xmlsoap.org/wsdl/mime/" xmlns:tns="http://amonsoft.cn/exts/" xmlns:s="http://www.w3.org/2001/XMLSchema" xmlns:soap12="http://schemas.xmlsoap.org/wsdl/soap12/" xmlns:http="http://schemas.xmlsoap.org/wsdl/http/" targetNamespace="http://amonsoft.cn/exts/" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">
  <wsdl:types>
    <s:schema elementFormDefault="qualified" targetNamespace="http://amonsoft.cn/exts/">
      <s:element name="exts">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="user" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="pwds" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="exts" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="mime" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="desp" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="file" type="tns:ArrayOfBase64Binary" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:complexType name="ArrayOfBase64Binary">
        <s:sequence>
          <s:element minOccurs="0" maxOccurs="unbounded" name="base64Binary" nillable="true" type="s:base64Binary" />
        </s:sequence>
      </s:complexType>
      <s:element name="extsResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="1" maxOccurs="1" name="extsResult" type="s:boolean" />
          </s:sequence>
        </s:complexType>
      </s:element>
    </s:schema>
  </wsdl:types>
  <wsdl:message name="extsSoapIn">
    <wsdl:part name="parameters" element="tns:exts" />
  </wsdl:message>
  <wsdl:message name="extsSoapOut">
    <wsdl:part name="parameters" element="tns:extsResponse" />
  </wsdl:message>
  <wsdl:portType name="Exts0001Soap">
    <wsdl:operation name="exts">
      <wsdl:input message="tns:extsSoapIn" />
      <wsdl:output message="tns:extsSoapOut" />
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:binding name="Exts0001Soap" type="tns:Exts0001Soap">
    <soap:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="exts">
      <soap:operation soapAction="http://amonsoft.cn/exts/exts" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:binding name="Exts0001Soap12" type="tns:Exts0001Soap">
    <soap12:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="exts">
      <soap12:operation soapAction="http://amonsoft.cn/exts/exts" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:service name="Exts0001">
    <wsdl:port name="Exts0001Soap" binding="tns:Exts0001Soap">
      <soap:address location="http://amonsoft.net/exts/exts0001.asmx" />
    </wsdl:port>
    <wsdl:port name="Exts0001Soap12" binding="tns:Exts0001Soap12">
      <soap12:address location="http://amonsoft.net/exts/exts0001.asmx" />
    </wsdl:port>
  </wsdl:service>
</wsdl:definitions>